name: OCM Build Test
# trigger manually
run-name: Build the OCM CLI
on:
  workflow_dispatch:
env:
  FOO: "bar"
jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
    - name: Create multi-platform image
      run: |
        jq --help

