name: OCM Build Test
# trigger manually
run-name: Build the OCM CLI
on:
  workflow_dispatch:
env:
  VERSION: "v0.2.0"
jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders
      - name: Set up Docker Buildx
        timeout-minutes: 10
        uses: docker/setup-buildx-action@v2
        with:
          version: latest
      - name: Build amd64
        id: build_amd64
        uses: docker/build-push-action@v3
        with:
          push: false
          load: true
          platforms: linux/amd64
          tags: ocm-cli:${{ env.VERSION }}-linux-arm64
          build-args: OCM_VERSION=${{ env.VERSION }}, OCM_PLATFORM=Linux_x86_64
      - name: Build arm64
        id: build_arm64
        uses: docker/build-push-action@v3
        with:
          push: false
          load: true
          platforms: linux/arm64
          tags: ocm-cli:${{ env.VERSION }}-linux-arm64
          build-arg: OCM_VERSION=${{ env.VERSION }} OCM_PLATFORM=Linux_arm64
      - name: Create multi-list and push
        run: |
          docker buildx imagetools create ocm-cli:${{ env.VERSION }}-linux-arm64 ocm-cli:${{ env.VERSION }}-linux-arm64 -t ghcr.io/jensh007/ocm-cli:${{ env.VERSION }}
