name: ocmify
# trigger manually
run-name: Create OCM component
on:
  workflow_dispatch: ~
env:
  RELEASE_VERSION: "v0.3.0-rc.2"
  RELEASE_VERSION2: "0.3.0-rc.2"
  COMP_NAME: ocm.software/ocmcli-image
  PROVIDER: ocm.software
  CD_REPO: ghcr.io/jensh007/ocm
jobs:
  build-and-create-ocm:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: setup OCM
        uses: open-component-model/ocm-setup-action@main
      - name: create OCM component version
        uses: open-component-model/ocm-action@main
        with:
          action: add_component
          components: components.yaml
          directory: .
          version: ${{ env.RELEASE_VERSION2}}
          component:  ${{ env.COMP_NAME}}
          var_values: |
            VERSION: ${{ env.RELEASE_VERSION2}}
            REPO_URL: ${{ github.server_url }}/${{ github.repository }}
            COMMIT: ${{ github.sha }}
      - name: push CTF
        uses: open-component-model/ocm-action@fix1
        with:
          action: push_ctf
          comprepo_url: ${{ env.CD_REPO}}
          comprepo_password: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload transport archive
        uses: actions/upload-artifact@v3
        with:
          name: ocm-ctf.zip
          path: |
            gen/ocm/ctf
